<a href="https://colab.research.google.com/github/Drila42/trial-1/blob/master/pandas_satty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
a=pd.DataFrame({'name':['drila','satty','baby'],'place':['howrah','kolkata','mumbai'],'animal':['stag','hippo','koala']})

In [4]:
a

    name    place animal
0  drila   howrah   stag
1  satty  kolkata  hippo
2   baby   mumbai  koala

In [9]:
a.columns

Index(['name', 'place', 'animal'], dtype='object')

In [11]:
a.columns[0]

'name'

In [13]:
a[a.columns[0]]

0    drila
1    satty
2     baby
Name: name, dtype: object

In [14]:
for j,x in a.items():
  for i,s in a.iterrows():
    print(a[j][i])

drila
satty
baby
howrah
kolkata
mumbai
stag
hippo
koala

In [16]:
for j,x in a.items():
  for i,s in a.iterrows():
    print(a[i])    #not possible without iloc

KeyError: ignored

In [18]:
# for j,x in a.items():
for i,s in a.iterrows():
  print(a.iloc[i])

name       drila
place     howrah
animal      stag
Name: 0, dtype: object
name        satty
place     kolkata
animal      hippo
Name: 1, dtype: object
name        baby
place     mumbai
animal     koala
Name: 2, dtype: object

In [19]:
a.iloc[0]

name       drila
place     howrah
animal      stag
Name: 0, dtype: object

In [0]:
b=pd.DataFrame({"maths":[10,20,30,],"english":[5,15,35]})

In [25]:
for i,s in b.iterrows():
  print(b.iloc[i])

maths      10
english     5
Name: 0, dtype: int64
maths      20
english    15
Name: 1, dtype: int64
maths      30
english    35
Name: 2, dtype: int64

In [26]:
b.iloc[0].sum()

15

In [30]:
b[b.columns[0]].sum()

60