<a href="https://colab.research.google.com/github/Drila42/trial-1/blob/master/Udemy01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=input("enter number:")
b=input("enter a value")
sum=a+b

print(sum)

enter number:4
enter a value5
45

In [4]:
type(sum)

str

# Exercise

In [6]:
a=float(input("Enter value in kilometers:"))
val=float(a/1.609344)

print("the answer is:",val)

Enter value in kilometers:100
the answer is: 62.13711922373339

In [7]:
round(val,4)

62.1371

In [8]:
s="meet"

print(s)

meet

In [10]:
a='she said-"hello".'
print(a)

she said-"hello".

In [11]:
a[0] #prints the first character

's'

In [12]:
a[-1] #prints the last character

'.'

LENGTH OF A STRING

In [15]:
v=int(input())
print("the num taken as input:",v)
x=str(v)
lenx=len(x)
print("the lengeth:", lenx)

456
the num taken as input: 456
the lengeth: 3

HOW TO PRINT LAST CHARACTER OF  A STRING

In [16]:

a=input("the input:")
v=a[len(a)-1]
print("the last character of the string is:", v)

the input:my name is andy
the last character of the string is: y

## Slicing

In [17]:
mystring=input("Give an input")

mystring[0:3] #shows the first 3 values from position 0, 1, 2

Give an input45678

'456'

In [18]:
mystring[1:3] #shows the values from position 1,2

'56'

In [19]:
mystring[:3] #basically gives the same output as [0:3]

'456'

In [22]:
mystring[-1] #shows the last position

'8'

In [23]:
mystring[-3:-1] #shows position -3 and -2

'67'

In [24]:
mystring[-3:] #shows all the values from -3 till the end

'678'

## Concatenation

In [26]:
"hello" + " " + "world"

'hello world'

2 strings can get concatenated 

but 1 string and 1 number cannot. 

eg

In [30]:
"hello" + 22

TypeError: ignored

in the above case the error occurs because a string cannot get concatenated with a number

In [31]:
"hello"+str(22)

'hello22'