<a href="https://colab.research.google.com/github/Drila42/trial-1/blob/master/Udemy_File_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a=open("test.txt")
print(a.read())

my cunt is lascivious

In [8]:
a=open("test.txt", "a")    # "a" is to append
a.write("\n My name is Aindrila")

a=open("test.txt")
print(a.read())

my cunt is lasciviousMy name is Aindrila
 My name is Aindrila

In [0]:
b=open("test2.txt", "x")    # "x" is to create a new file altogether

In [0]:
new=open("/content/sample_data/42.txt", "x")

In [0]:
blip=[]                      #this can be used when a file has a number in each line and oyu want it in a list
with open("test.txt") as f :
  for line in f:
    blip.append(line)

In [19]:
blip

['my cunt is lasciviousMy name is Aindrila\n',
 ' My name is Aindrila\n',
 'i live in\n',
 'howrah\n',
 'my \n',
 'boy \n',
 'is \n',
 'from the other side of the \n',
 'Ganges \n',
 'his \n',
 'name \n',
 'is \n',
 'Satty \n',
 ' \n']

In [0]:
b.close()

In [0]:
a.close()

In [0]:
new.close()

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [0]:
file=pd.ExcelFile("/Udemy1.xlsx")

In [26]:
print(file.sheet_names)

['Sheet1']

In [0]:
f=pd.ExcelFile("/Udemy2.xlsx")

In [29]:
print(f.sheet_names)

['Sales ', 'Customers']

In [34]:
sheet=f.parse('Sales ')
print(sheet)

       Date  Invoice  Sales amount
0       NaN      NaN           NaN
1  1.4.2020    100.0         500.0
2  1.4.2021    101.0         600.0
3  1.4.2022    102.0         700.0
4  1.4.2023    103.0         800.0
5  1.4.2024    104.0         900.0
6  1.4.2025    105.0        1000.0

In [35]:
type(sheet)

pandas.core.frame.DataFrame

In [36]:
print(sheet.Date)

0         NaN
1    1.4.2020
2    1.4.2021
3    1.4.2022
4    1.4.2023
5    1.4.2024
6    1.4.2025
Name: Date, dtype: object

In [37]:
sheet['Sales amount'].sum()

4500.0

In [38]:
sheet.Invoice.sum()

615.0

In [42]:
sheet.loc[1]

Date            1.4.2020
Invoice              100
Sales amount         500
Name: 1, dtype: object

In [43]:
sheet.loc[1,'Invoice']

100.0

In [45]:
sheet.loc[sheet["Invoice"]==104]

       Date  Invoice  Sales amount
5  1.4.2024    104.0         900.0

In [46]:
sheet.loc[sheet["Invoice"]>102]

       Date  Invoice  Sales amount
4  1.4.2023    103.0         800.0
5  1.4.2024    104.0         900.0
6  1.4.2025    105.0        1000.0

In [47]:
sheet.loc[sheet["Sales amount"].idxmax()]

Date            1.4.2025
Invoice              105
Sales amount        1000
Name: 6, dtype: object

In [48]:
sheet.loc[sheet["Sales amount"].idxmax()]["Invoice"]

105.0